#idparagraphe1 {

    color: red;
}
.class1 {
    color: blue;
}
.class1{

    color: blue;
}

.couleurvert{
    color: green;
}

.class3{
    color: blue;
    }

.morgan {
    background-color: blueviolet;
    padding: 12px;
}
#teste {
    background-color: red;
}



